<h1>GLOBAL TERRORISM ANALYSIS</h1>
<h3>Analyst : Lorejoy Zorrilla</h3>

<h2>IMPORTING LIBRARIES</h2>

In [20]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import warnings 
import folium
from folium.plugins import HeatMap
warnings.filterwarnings('ignore')

<h2>IMPORTING DATASET TO DATA FRAME</h2>

In [21]:
df = pd.read_csv('datasets\\Global_terrorist.csv', encoding='ISO-8859-1')

In [22]:
df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

<h1>REGIONAL ANALYSIS</h1>

<h2>Filtering Data</h2>

In [4]:
filter1 = df[df['region_txt'] == 'Middle East & North Africa'] #50k

In [5]:
filter2 = filter1[filter1['attacktype1_txt'] == 'Bombing/Explosion'] #30k

In [6]:
filter3 = filter2[filter2['iyear'] >= 2005] #26k

In [7]:
filter4 = filter3[filter3['nkill'] >= 10]

<h2>Data Aggregation</h2>

In [8]:
terror_loc1 = filter4.groupby(['latitude', 'longitude']).size().reset_index(name = 'incident_count')
terror_loc1

      latitude  longitude  incident_count
0    12.743795  44.843678               1
1    12.760069  44.890266               1
2    12.825647  44.846416              11
3    12.832581  45.027071               1
4    12.867085  44.981911               6
..         ...        ...             ...
498  38.720489  35.482597               1
499  39.798509  32.805613               1
500  39.916839  44.044637               1
501  39.930771  32.767540               3
502  41.106178  28.689863               6

[503 rows x 3 columns]

<h1>Use of FOLIUM FOR GEOSPATIAL</h1>

<h3> Converting Pandas Data Frame into Python List</h3>

In [9]:
#OPTIONAL, for clearer view for the Geospatial Map

terror_loc1["normalize_data"] = terror_loc1['incident_count'] - terror_loc1['incident_count'].min() / \
                                terror_loc1['incident_count'].max() - terror_loc1['incident_count']

#geospatial folium data should be formatted as a list

terror_loc_list1 = terror_loc1[['latitude', 'longitude', 'incident_count']].values.tolist()

<h3> Creating a base map </h3>

In [10]:
my_map1 = folium.Map(location = [28, 30], zoom_start = 4)

<h3> Add Heatmap Layer </h3>

In [11]:
HeatMap(terror_loc_list1).add_to(my_map1)

In [12]:
my_map1.save('regional_analysis.html')
print("data save to regional_analysis.html")

data save to regional_analysis.html

<h2>Calling the map</h2>

In [13]:
my_map1

<h1>Insight No. 1</h1>
<h4>Between 2018 and 2022, bombing and explosion attacks remained common in Iraq, Syria, and Yemen, but Afghanistan and Libya saw a rise in incidents due to ongoing conflicts. After the U.S. withdrawal from Afghanistan in 2021, attacks targeting civilians increased, highlighting the continued threat of extremism and political instability in the region.</h4>

<h1>NATIONALITY ANALYSIS</h1>

<h2>Filtering Data</h2>

In [14]:
filter5 = df[df['country_txt'] == 'Philippines']

In [15]:
filter6 = filter5[filter5['natlty1_txt'] == 'Philippines']

<h2>Data Aggregation</h2>

In [16]:
terror_loc2 = filter6.groupby(['latitude', 'longitude']).size().reset_index(name = 'incident_count')
terror_loc2

       latitude   longitude  incident_count
0      4.897277  119.848690               1
1      5.010223  119.747485               1
2      5.031979  119.772504               1
3      5.036097  120.226960               1
4      5.136910  119.945966               1
...         ...         ...             ...
3877  18.467402  120.899587               1
3878  18.511551  120.644088               1
3879  18.537136  120.765284               2
3880  18.561630  121.231890               4
3881  18.561633  120.787087               2

[3882 rows x 3 columns]

<h3> Converting Pandas Data Frame into Python List</h3>

In [17]:
#OPTIONAL, for clearer view for the Geospatial Map

terror_loc2["normalize_data"] = terror_loc2['incident_count'] - terror_loc2['incident_count'].min() / \
                                terror_loc2['incident_count'].max() - terror_loc2['incident_count']

#geospatial folium data should be formatted as a list

terror_loc_list2 = terror_loc2[['latitude', 'longitude', 'incident_count']].values.tolist()

<h3> Creating a base map </h3>

In [18]:
my_map2 = folium.Map(location=[12.8797, 121.7740], zoom_start=5)

<h3> Add Heatmap Layer </h3>

In [19]:
HeatMap(terror_loc_list2).add_to(my_map2)

NameError: name 'my_map2' is not defined

In [ ]:
my_map2.save('nationality_analysis.html')
print("data save to nationality_analysis.html")

<h2>Calling the map</h2>

In [ ]:
my_map2

<h1>Insight No.2</h1>

<h4>This heatmap shows that Terrorism is a nationwide concern in the Philippines. Although Mindanao, particularly areas like Zamboanga, Cagayan de Oro, and Davao experiences the most activity, incidents in Luzon and Visayas, including Metro Manila, show that threats are not limited to the south. This calls for a country wide approach to security and prevention.</h4>

<h1>TARGET ANALYSIS</h1>

<h2>Filtering Data</h2>

In [ ]:
filter7 = df[df['targsubtype1_txt'] == 'Police Security Forces/Officers'] #11k

In [ ]:
filter8 = filter7[filter7['provstate'] == 'Northern Ireland']

<h2>Data Aggregation</h2>

In [ ]:
terror_loc3 = filter8.groupby(['latitude', 'longitude']).size().reset_index(name = 'incident_count')
terror_loc3

<h3> Converting Pandas Data Frame into Python List</h3>

In [ ]:
#OPTIONAL, for clearer view for the Geospatial Map

terror_loc3["normalize_data"] = terror_loc3['incident_count'] - terror_loc3['incident_count'].min() / \
                                terror_loc3['incident_count'].max() - terror_loc3['incident_count']

#geospatial folium data should be formatted as a list

terror_loc_list3 = terror_loc3[['latitude', 'longitude', 'incident_count']].values.tolist()

<h3> Creating a base map </h3>

In [ ]:
my_map3 = folium.Map(location = [54.7, -7], zoom_start = 8)

<h3> Add Heatmap Layer </h3>

In [ ]:
HeatMap(terror_loc_list3).add_to(my_map3)

In [ ]:
my_map3.save('target_analysis.html')
print("data save to target_analysis.html")

<h2>Calling the map</h2>

In [ ]:
my_map3

<h1>Insight No. 3</h1>
<h4>From 1970 to 2017, police in Northern Ireland were frequent targets of terrorist attacks, mainly by nationalist groups like the IRA. These attacks aimed to challenge British rule and push for Irish unification, showing how law enforcement became a key symbol in the political conflict.</h4>

<h1>CASUALTY ANALYSIS</h1>

<h2>Filtering Data</h2>

In [ ]:
filter9 = df[df['nkill'] >= 20] #3k

In [ ]:
filter10 = filter9[filter9['region_txt'] == 'Sub-Saharan Africa']

In [ ]:
filter11 = filter10[filter10['attacktype1_txt'] == 'Armed Assault']

<h2>Data Aggregation</h2>

In [ ]:
terror_loc4 = filter11.groupby(['latitude', 'longitude']).size().reset_index(name = 'incident_count')
terror_loc4

<h3> Converting Pandas Data Frame into Python List</h3>

In [ ]:
#OPTIONAL, for clearer view for the Geospatial Map

terror_loc4["normalize_data"] = terror_loc4['incident_count'] - terror_loc4['incident_count'].min() / \
                                terror_loc4['incident_count'].max() - terror_loc4['incident_count']

#geospatial folium data should be formatted as a list

terror_loc_list4 = terror_loc4[['latitude', 'longitude', 'incident_count']].values.tolist()

<h3> Creating a base map </h3>

In [ ]:
my_map4 = folium.Map(location = [5, 30], zoom_start = 3)

<h3> Add Heatmap Layer </h3>

In [ ]:
HeatMap(terror_loc_list4).add_to(my_map4)

In [ ]:
my_map4.save('casualty_analysis.html')
print("data save to casualty_analysis.html")

<h2>Calling the map</h2>

In [ ]:
my_map4

<h1>Insight No. 4</h1>
<h4>Mass-casualty attacks in Sub-Saharan Africa from 1970 to 2017 reveal how militant groups exploit weak governance. Countries like Nigeria, Somalia, and Sudan experienced deadly assaults by groups such as Boko Haram and Al-Shabaab, often killing 20 or more people in a single attack. These incidents highlight the urgent need for stronger regional security and stability.</h4>

<h1>ATTACK TYPE ANALYSIS</h1>

<h2>Filtering Data</h2>

In [ ]:
filter12 = df[df['attacktype1_txt'] == 'Assassination'] #19k

In [ ]:
filter13 = filter12[filter12['weaptype1_txt'] == 'Melee']

In [ ]:
filter14 = filter13[filter13['region_txt'] == 'South Asia']

<h2>Data Aggregation</h2>

In [ ]:
terror_loc5 = filter14.groupby(['latitude', 'longitude']).size().reset_index(name = 'incident_count')
terror_loc5

<h3> Converting Pandas Data Frame into Python List</h3>

In [ ]:
#OPTIONAL, for clearer view for the Geospatial Map

terror_loc5["normalize_data"] = terror_loc5['incident_count'] - terror_loc5['incident_count'].min() / \
                                terror_loc5['incident_count'].max() - terror_loc5['incident_count']

#geospatial folium data should be formatted as a list

terror_loc_list5 = terror_loc5[['latitude', 'longitude', 'incident_count']].values.tolist()

<h3> Creating a base map </h3>

In [ ]:
my_map5 = folium.Map(location = [20, 80], zoom_start = 4)

<h3> Add Heatmap Layer </h3>

In [ ]:
HeatMap(terror_loc_list5).add_to(my_map5)

In [ ]:
my_map5.save('attack_type_analysis.html')
print("data save to attack_type_analysis.html")

<h2>Calling the map</h2>

In [ ]:
my_map5

<h1>Insight No. 5</h1>

<h4>Many political assassinations in South Asia used melee weapons like knives or clubs because they are easy to get and allow attackers to get close to their targets. These weapons are often tied to local traditions and are still used today. This shows how culture and access to weapons affect the way attacks are carried out.</h4>