<h1>UK ROAD ACCIDENT DATA ANALYSIS</h1>
<h2>INCLUSIVE YEAR 2019 - 2022</h2>

<h2>Analyts : Lorejoy C. Zorrilla</h2>

<h1>DATA PREPARATION</h1>

<p>Transfer Data set to folder</p>

<h3>Importing Libraries</h3>

In [1]:
pip install folium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: folium in c:\users\zorri\appdata\roaming\python\python310\site-packages (0.19.5)
Requirement already satisfied: branca>=0.6.0 in c:\users\zorri\appdata\roaming\python\python310\site-packages (from folium) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\zorri\appdata\roaming\python\python310\site-packages (from folium) (3.1.5)
Requirement already satisfied: numpy in c:\users\zorri\appdata\roaming\python\python310\site-packages (from folium) (2.2.2)
Requirement already satisfied: requests in c:\users\zorri\appdata\roaming\python\python310\site-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in c:\users\zorri\appdata\roaming\python\python310\site-packages (from folium) (2025.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\zorri\appdata\roaming\python\python310\site-packages (from jinja2>=2.9->folium) (3.0.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\zorri\appdata\roaming\python\python310\site-packages (from requests->folium) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\zorri\appdata\roaming\python\python310\site-packages (from requests->folium) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\zorri\appdata\roaming\python\python310\site-packages (from requests->folium) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\zorri\appdata\roaming\python\python310\site-packages (from requests->folium) (2024.12.14)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import HeatMap
from scipy.stats import f_oneway

<h1>DATA FRAME</h1>

In [4]:
accident = pd.read_csv('datasets\\accident_data.csv')

In [5]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [5]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [6]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [7]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mode()[0])
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mode()[0])
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna('unknown road condition')
accident['Road_Type'] = accident['Road_Type'].fillna('unaccounted')
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna('unaccounted')
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])

In [8]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

In [9]:
accident.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

<h1>Converting accident date to actual date types</h1>

In [6]:
accident['Accident Date']

0           5/6/2019
1           2/7/2019
2         26-08-2019
3         16-08-2019
4           3/9/2019
             ...
660674    18-02-2022
660675    21-02-2022
660676    23-02-2022
660677    23-02-2022
660678    28-02-2022
Name: Accident Date, Length: 660679, dtype: object

In [7]:
accident['Accident Date'] = accident['Accident Date'].astype('str')
accident.dtypes
#remove spaces
accident['Accident Date'] = accident['Accident Date'].str.strip()
#replace / with -
accident['Accident Date'] = accident['Accident Date'].str.replace('/','-')

In [8]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

In [9]:
accident.dtypes

Index                              object
Accident_Severity                  object
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area                object
Weather_Conditions                 object
Vehicle_Type                       object
dtype: object

In [14]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

<h2>Changing to category</h2>

In [10]:
accident['Accident_Severity']=accident['Accident_Severity'].astype('category')

In [11]:
accident['Light_Conditions']=accident['Light_Conditions'].astype('category')

In [12]:
accident['District Area']=accident['District Area'].astype('category')

In [13]:
accident['Number_of_Casualties']=accident['Number_of_Casualties'].astype('category')

In [14]:
accident['Number_of_Vehicles']=accident['Number_of_Vehicles'].astype('category')

In [15]:
accident['Road_Surface_Conditions']=accident['Road_Surface_Conditions'].astype('category')

In [16]:
accident['Road_Type']=accident['Road_Type'].astype('category')

In [17]:
accident['Urban_or_Rural_Area']=accident['Urban_or_Rural_Area'].astype('category')

In [18]:
accident['Weather_Conditions']=accident['Weather_Conditions'].astype('category')

In [19]:
accident['Vehicle_Type']=accident['Vehicle_Type'].astype('category')

In [20]:
accident['Latitude']=accident['Latitude'].astype('category')

In [21]:
accident['Longitude']=accident['Longitude'].astype('category')

In [22]:
accident.dtypes

Index                              object
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                         category
Light_Conditions                 category
District Area                    category
Longitude                        category
Number_of_Casualties             category
Number_of_Vehicles               category
Road_Surface_Conditions          category
Road_Type                        category
Urban_or_Rural_Area              category
Weather_Conditions               category
Vehicle_Type                     category
dtype: object

In [23]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,2019-06-05,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2019-07-02,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,2019-08-26,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,2019-08-16,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,2019-09-03,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,2022-02-18,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,2022-02-21,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,2022-02-23,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,2022-02-23,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,2022-02-28,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [24]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            660679 non-null  datetime64[ns]
 3   Latitude                 660654 non-null  category
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660653 non-null  category
 7   Number_of_Casualties     660679 non-null  category
 8   Number_of_Vehicles       660679 non-null  category
 9   Road_Surface_Conditions  659953 non-null  category
 10  Road_Type                656159 non-null  category
 11  Urban_or_Rural_Area      660664 non-null  category
 12  Weather_Conditions       646551 non-null  category
 13  Vehicle_Type             660679 non-null  category
dtypes: category(12), datetime64[ns](1), object(1)
memory usage: 62.3+ MB

In [25]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] = accident['Accident Date'].dt.month
accident['Day'] = accident['Accident Date'].dt.day
accident['DayOfWeek'] = accident['Accident Date'].dt.dayofweek

In [26]:
accident_corr = accident['Number_of_Casualties'].corr(accident['Number_of_Vehicles'])

In [27]:
accident_corr

np.float64(0.22888886126927627)

In [ ]:
# Calculate and print correlation
print(accident['Number_of_Casualties'].corr(accident['Number_of_Vehicles']))

# Plot bar graph
plt.bar(accident['Number_of_Vehicles'], accident['Number_of_Casualties'], color='teal')

plt.title('Number of Casualties vs. Number of Vehicles')
plt.xlabel('Number of Vehicles')
plt.ylabel('Number of Casualties')
plt.show()

<h1>Insight no.1</h1>
<h3>Theres no correlation between the number of casualties and number of vehicles</h3>

In [ ]:
accident[accident['Urban_or_Rural_Area'] == 'Urban']['Number_of_Casualties']

In [ ]:
f_stats, p_value = f_oneway(accident[accident['Urban_or_Rural_Area'] == 'Urban']['Number_of_Casualties'],
                             accident[accident['Urban_or_Rural_Area'] == 'Rural']['Number_of_Casualties']
                           )
print(p_value)

In [ ]:
casualties_district = accident['Urban_or_Rural_Area'].value_counts().sort_index()
casualties_district.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Casualties on Urban')
plt.xlabel('Rural and Urban Area')
plt.ylabel('Number of Casualties')
plt.show()

<h1>Insight no.2</h1>
<h3>There's no correlation between urban or Rural area and Number of casualties</h3>

In [ ]:
accident['Accident_Severity']

In [ ]:
f_stat, p_value = f_oneway(
    accident[accident['Weather_Conditions'] == 'Fine no high winds']['Number_of_Casualties'],
    accident[accident['Weather_Conditions'] == 'Snowing no high winds']['Number_of_Casualties'],
    accident[accident['Weather_Conditions'] == 'Raining no high winds']['Number_of_Casualties'],
)
print(p_value)

In [ ]:
weather_casualties = accident['Weather_Conditions'].value_counts().sort_index()
weather_casualties.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Casualties based on weather condition')
plt.xlabel('weather condition')
plt.ylabel('Number of Casualties')
plt.show()

<h1>Insight no.3</h1>
<h3> The number of casualties involved in accidents changes based on weather conditions.</h3>

In [ ]:
most_casualties_district

In [ ]:
casualties_by_district = accident.groupby('District Area')['Number_of_Casualties'].sum().sort_index()

casualties_by_district.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Total Number of Casualties by District Area')
plt.xlabel('District Area')
plt.ylabel('Total Number of Casualties')
plt.show()

<h1>Insight no.4</h1>
<h3>The number of casualties in accidents differs by district area.</h3>

In [ ]:
df_2022 = accident[accident['Year'] == 2022]

In [ ]:
df_2022

In [ ]:
df_2022['Light_Conditions'].value_counts()

In [ ]:
light_conditions_counts = df_2022['Light_Conditions'].value_counts().sort_index()
light_conditions_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents by Light Conditions')
plt.xlabel('Light Conditions')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.5</h1>
<h3>About 74.6% of the total accident in 2022 happened during Daylight</h3>

In [ ]:
df_2022['Light_Conditions'].value_counts()

In [ ]:
light_conditions_counts = df_2022['Light_Conditions'].value_counts().sort_index()
light_conditions_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents by Light Conditions')
plt.xlabel('Light Conditions')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.6</h1>
<h3>About 19.07% of the total accident in 2022 happened during Darkness - no lighting</h3>

In [ ]:
df_2019 = accident[accident['Year'] == 2019]

In [ ]:
df_2019

In [ ]:
df_2019['Light_Conditions'].value_counts()

In [ ]:
light_conditions_counts = df_2019['Light_Conditions'].value_counts().sort_index()
light_conditions_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents by Light Conditions (2019)')
plt.xlabel('Light Conditions')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.7</h1>
<h3>About 5.95% of the total accident in 2019 happened during Darkness - no lighting</h3>

In [ ]:
df_2022['Weather_Conditions'].value_counts()

In [ ]:
weather_conditions_counts = df_2022['Weather_Conditions'].value_counts().sort_index()
weather_conditions_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents by Weather Conditions (2022)')
plt.xlabel('Weather Conditions')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.8</h1>
<h3>About 80.30% of the total accident in 2022 happened during Fine no high winds.</h3>

In [ ]:
df_2019['Weather_Conditions'].value_counts()

In [ ]:
weather_conditions_counts = df_2019['Weather_Conditions'].value_counts().sort_index()
weather_conditions_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents by Weather Conditions (2019)')
plt.xlabel('Weather Conditions')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.9</h1>
<h3>About 79% of the total accident in 2022 happened during Fine no high winds.</h3>

In [ ]:
accident['Year'].value_counts()

In [ ]:
df_2019['Accident_Severity'].value_counts()

In [ ]:
accident['Accident_Severity'].value_counts()

In [ ]:
accident_severity_counts = df_2019['Accident_Severity'].value_counts().sort_index()
accident_severity_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents by Severity (2019)')
plt.xlabel('Accident Severity')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.10</h1>
<h3>About 27.50% of the total accident in 2019 are slight.</h3>

In [ ]:
df_2022['Accident_Severity'].value_counts()

In [ ]:
accident_severity_counts = df_2022['Accident_Severity'].value_counts().sort_index()
accident_severity_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents by Severity (2022)')
plt.xlabel('Accident Severity')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.11</h1>
<h3>About 22.01% of the total accident in 2022 are slight.</h3>

In [ ]:
accident['Road_Surface_Conditions'].value_counts()

In [ ]:
df_2022['Road_Surface_Conditions'].value_counts()

In [ ]:
road_surface_counts = df_2022['Road_Surface_Conditions'].value_counts().sort_index()
road_surface_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents by Road Surface Conditions (2022)')
plt.xlabel('Road Surface Conditions')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.12</h1>
<h3>About 22.03% of the total accident in 2022 happened in dry road.</h3>

In [ ]:
df_2019['Road_Surface_Conditions'].value_counts()

In [ ]:
road_surface_counts = df_2019['Road_Surface_Conditions'].value_counts().sort_index()
road_surface_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents by Road Surface Conditions (2019)')
plt.xlabel('Road Surface Conditions')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.13</h1>
<h3>About 27.99% of the total accident in 2019 happened in wet or damp road.</h3>

In [ ]:
accident['Month'].value_counts()

In [ ]:
acc_november = accident[accident['Month'] == 11]

In [ ]:

snow_accidents = acc_november['Road_Surface_Conditions'].value_counts().sort_index()
snow_accidents.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Road Surface Conditions in November Accidents')
plt.xlabel('Road Surface Conditions')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.14</h1>
<h3>About 2.53% of the accident on November happened during Snow.</h3>

In [ ]:
df_2022['Urban_or_Rural_Area'].value_counts()

In [ ]:
accident['Urban_or_Rural_Area'].value_counts()

In [ ]:
urban_rural_counts = df_2022['Urban_or_Rural_Area'].value_counts().sort_index()

# Plot the bar graph
urban_rural_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Distribution of Accidents in Urban and Rural Areas (2022)')
plt.xlabel('Area Type')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.15</h1>
<h3>About 22.29% of the accident on 2022 happened in Urban Area.</h3>

In [ ]:
df_2019['Urban_or_Rural_Area'].value_counts()

In [ ]:
urban_rural_counts = df_2019['Urban_or_Rural_Area'].value_counts().sort_index()
urban_rural_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Accidents in Urban and Rural Areas (2019)')
plt.xlabel('Area Type')
plt.ylabel('Number of Accidents')
plt.show()

<h1>Insight no.16</h1>
<h3>About 27.16% of the accident on 2019 happened in Urban Area.</h3>

In [ ]:
acc_conditions1 = accident[(accident['Accident_Severity'] == 'Serious') & (accident['Road_Surface_Conditions'] == 'Dry')]

In [ ]:
acc_conditions1

In [ ]:
acc_conditions1 = accident[(accident['Accident_Severity'] == 'Serious') & 
                           (accident['Road_Surface_Conditions'] == 'Dry')]

m = folium.Map(location=[52.4862, -1.8904], zoom_start=11)  

if 'Latitude' in acc_conditions1.columns and 'Longitude' in acc_conditions1.columns:
    heat_data = acc_conditions1[['Latitude', 'Longitude']].dropna().values.tolist()
    
    HeatMap(heat_data, radius=12, blur=18, max_zoom=1).add_to(m)
else:
    print("Error: Latitude and Longitude columns are missing in the dataset.")

m.save('serious_accidents_dry_roads_heatmap.html')
m

<h1> Insight no.17</h1>
<h3>There are 61,638 accidents happened in Dry Surface with Serious Accident Severity</h3>

In [ ]:
years = [2019, 2020, 2021, 2022]
top_districts = [accident[accident['Year'] == year]['District Area'].mode()[0] for year in years]

district_counts = pd.Series(top_districts).value_counts().sort_index()
plt.figure(figsize=(8, 5))
bars = plt.bar(district_counts.index, district_counts.values, color='teal')

plt.yticks(range(1, len(years) + 1), years)
plt.title('Most Accident-Prone Districts (2019-2022)')
plt.xlabel('District Area')
plt.ylabel('Number of Years as Highest')
plt.show()

<h1>Insight no.18</h1>
<h3>Birmingham consistently recorded the highest number of accident from 2019 to 2022.</h3>

In [ ]:
monthly_district_accidents = serious_accidents.groupby(['Month', 'District Area']).size().unstack()
monthly_district_accidents.plot(kind='bar', figsize=(12, 6), stacked=True, colormap='tab10')

plt.title('Monthly Distribution of Serious Accidents by District Area')
plt.xlabel('Month')
plt.ylabel('Number of Serious Accidents')
plt.legend(title='District Area', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

In [ ]:
serious_accidents = accident[accident['Accident_Severity'] == 'Serious']
serious_district_counts = serious_accidents['District Area'].value_counts().sort_index()

serious_district_counts.plot(kind='bar', figsize=(12, 6), color='teal')

plt.title('Number of Serious Accidents by District Area')
plt.xlabel('District Area')
plt.ylabel('Number of Serious Accidents')
plt.show()

In [ ]:
serious_district_counts = serious_accidents['District Area'].value_counts().sort_index()
serious_district_counts.plot(kind='line', marker='o', linestyle='-', color='b', figsize=(20, 5))

plt.title('Number of Serious Accidents by District Area')
plt.xlabel('District Area')
plt.ylabel('Number of Serious Accidents')
plt.grid(True)
plt.show()

In [ ]:
most_serious_district

In [ ]:
accident['Accident_Severity']

<h1>Insight no.19</h1>
<h3>Birmingham has the highest number of serious accidents</h3>

In [ ]:
accident.groupby(['Month','Road_Surface_Conditions']).size().unstack()

In [ ]:
monthly_road_conditions = accident.groupby(['Month', 'Road_Surface_Conditions']).size().unstack()
monthly_road_conditions.plot(kind='bar', figsize=(10,5))

plt.title('Monthly Distribution of Accidents by Road Surface Conditions')
plt.xlabel('Month')
plt.ylabel('Number of Accidents')
plt.legend(title='Road Surface Conditions', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

<h1>Insight no.20</h1>
<h3>From November to January, most of the accident occured in wet or damp road surfaces. In contrast, February to October, the majority of accidents occured in dry surfaces.</h3>